openapi: 3.1.0

info:
  title: GitHub SecondBrain
  version: 2.0.0
  description: >
    GitHub-backed storage action for a private repository named SecondBrain,
    created from a public SecondBrain-Template repository. Uses the Git Database
    API for raw text reads, direct tree-content writes, atomic commits, and
    managed template sync based on the template branch HEAD SHA.

servers:
  - url: https://api.github.com

components:
  securitySchemes:
    githubOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Full control of private repositories. This schema exposes only SecondBrain and SecondBrain-Template operations.
            read:user: Read authenticated user profile information.

  schemas:
    GenerateSecondBrainRepoRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          const: SecondBrain
        owner:
          type: string
          description: Optional target owner or organization. Omit to create under authenticated user.
        private:
          type: boolean
          const: true
        description:
          type: string
          default: Personal SecondBrain knowledge repository.
        include_all_branches:
          type: boolean
          const: false
      required:
        - name
        - private
        - include_all_branches

    SetRepoTopicsRequest:
      type: object
      additionalProperties: false
      properties:
        names:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
          default:
            - second-brain
            - personal-knowledge
      required:
        - names

    GitPath:
      type: string
      minLength: 1
      maxLength: 500
      pattern: '^(?!/)(?!.*(^|/)\.\.(?:/|$))(?!.*(^|/)\.git(?:/|$)).+$'
      description: Repository-relative path. Must not start with '/', contain '..', or target .git.

    CreateGitTreeRequest:
      type: object
      additionalProperties: false
      properties:
        base_tree:
          type: string
          minLength: 1
        tree:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            properties:
              path:
                $ref: '#/components/schemas/GitPath'
              mode:
                type: string
                enum:
                  - '100644'
              type:
                type: string
                enum:
                  - blob
              content:
                type: string
                description: Raw UTF-8 file content for create/update operations.
              sha:
                type:
                  - string
                  - 'null'
                description: Blob SHA for create/update or null to delete the path. Do not use with content.
            required:
              - path
              - mode
              - type
      required:
        - base_tree
        - tree

    CreateGitCommitRequest:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          minLength: 1
        tree:
          type: string
          minLength: 1
        parents:
          type: array
          minItems: 1
          items:
            type: string
      required:
        - message
        - tree
        - parents

    UpdateGitRefRequest:
      type: object
      additionalProperties: false
      properties:
        sha:
          type: string
          minLength: 1
        force:
          type: boolean
          const: false
      required:
        - sha
        - force

    GitRefResponse:
      type: object
      properties:
        ref:
          type: string
        object:
          type: object
          properties:
            sha:
              type: string
            type:
              type: string
          required:
            - sha
      required:
        - object

    GitCommitResponse:
      type: object
      properties:
        sha:
          type: string
        tree:
          type: object
          properties:
            sha:
              type: string
          required:
            - sha
        parents:
          type: array
          items:
            type: object
            properties:
              sha:
                type: string
      required:
        - sha
        - tree

    GitTreeResponse:
      type: object
      properties:
        sha:
          type: string
        truncated:
          type: boolean
        tree:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              mode:
                type: string
              type:
                type: string
              sha:
                type: string
              size:
                type: integer
              url:
                type: string
      required:
        - tree

security:
  - githubOAuth:
      - repo
      - read:user

paths:
  /user:
    get:
      operationId: getAuthenticatedUser
      summary: Get authenticated GitHub user
      x-openai-isConsequential: false
      responses:
        '200':
          description: Authenticated user profile.

  /repos/{template_owner}/SecondBrain-Template:
    get:
      operationId: getSecondBrainTemplateRepo
      summary: Get public SecondBrain-Template repository metadata
      x-openai-isConsequential: false
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template repository metadata. Check is_template when needed.
        '404':
          description: Template repository not found.

  /repos/{template_owner}/SecondBrain-Template/generate:
    post:
      operationId: createSecondBrainFromTemplate
      summary: Create private SecondBrain repo from public template
      description: Creates a new private repository named SecondBrain from the default branch of SecondBrain-Template.
      x-openai-isConsequential: true
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSecondBrainRepoRequest'
      responses:
        '201':
          description: Repository generated from template.
        '403':
          description: Forbidden or template not accessible.
        '404':
          description: Template not found.
        '422':
          description: Validation failed or target repo already exists.

  /repos/{template_owner}/SecondBrain-Template/git/ref/heads/{branch}:
    get:
      operationId: getTemplateBranchRef
      summary: Get template branch ref and HEAD SHA
      x-openai-isConsequential: false
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template branch ref.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRefResponse'
        '404':
          description: Branch not found.

  /repos/{template_owner}/SecondBrain-Template/git/commits/{commit_sha}:
    get:
      operationId: getTemplateGitCommit
      summary: Get template commit metadata
      x-openai-isConsequential: false
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: commit_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template commit metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCommitResponse'
        '404':
          description: Commit not found.

  /repos/{template_owner}/SecondBrain-Template/git/trees/{tree_sha}:
    get:
      operationId: getTemplateGitTree
      summary: Get template tree metadata
      description: Use recursive=1 to list all template files and blob SHAs.
      x-openai-isConsequential: false
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: tree_sha
          in: path
          required: true
          schema:
            type: string
        - name: recursive
          in: query
          required: false
          schema:
            type: string
            enum:
              - '1'
              - 'true'
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template tree metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTreeResponse'
        '404':
          description: Tree not found.

  /repos/{template_owner}/SecondBrain-Template/git/blobs/{blob_sha}:
    get:
      operationId: getTemplateGitBlobRaw
      summary: Get raw template blob content
      x-openai-isConsequential: false
      parameters:
        - name: template_owner
          in: path
          required: true
          schema:
            type: string
        - name: blob_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github.raw+json
      responses:
        '200':
          description: Raw blob content.
          content:
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        '404':
          description: Blob not found.

  /repos/{owner}/SecondBrain:
    get:
      operationId: getSecondBrainRepo
      summary: Check whether SecondBrain exists and fetch repo metadata
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Repository metadata.
        '404':
          description: Repository not found.

  /repos/{owner}/SecondBrain/topics:
    get:
      operationId: getSecondBrainRepoTopics
      summary: Get SecondBrain repository topics
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Repository topics.

    put:
      operationId: setSecondBrainRepoTopics
      summary: Set SecondBrain repository topics
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRepoTopicsRequest'
      responses:
        '200':
          description: Topics updated.

  /repos/{owner}/SecondBrain/branches:
    get:
      operationId: listSecondBrainBranches
      summary: List SecondBrain branches
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Branch list.

  /repos/{owner}/SecondBrain/tags:
    get:
      operationId: listSecondBrainTags
      summary: List SecondBrain tags
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Tag list.

  /repos/{owner}/SecondBrain/commits:
    get:
      operationId: listSecondBrainCommits
      summary: List SecondBrain commits
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Commit list.

  /repos/{owner}/SecondBrain/git/ref/heads/{branch}:
    get:
      operationId: getSecondBrainBranchRef
      summary: Get SecondBrain branch ref
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Branch ref.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRefResponse'
        '404':
          description: Branch not found.
        '409':
          description: Conflict.

  /repos/{owner}/SecondBrain/git/commits/{commit_sha}:
    get:
      operationId: getSecondBrainGitCommit
      summary: Get SecondBrain commit metadata, including tree SHA
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: commit_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Git commit metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCommitResponse'
        '404':
          description: Commit not found.

  /repos/{owner}/SecondBrain/git/trees/{tree_sha}:
    get:
      operationId: getSecondBrainGitTree
      summary: Get SecondBrain tree metadata
      description: Use recursive=1 to list all repo files and blob SHAs.
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: tree_sha
          in: path
          required: true
          schema:
            type: string
        - name: recursive
          in: query
          required: false
          schema:
            type: string
            enum:
              - '1'
              - 'true'
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Git tree metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTreeResponse'
        '404':
          description: Tree not found.

  /repos/{owner}/SecondBrain/git/trees:
    post:
      operationId: createSecondBrainGitTree
      summary: Create a new SecondBrain tree for file creation, update, or deletion
      description: >
        Create a tree based on base_tree. Add/update text files by supplying
        direct content. Delete files by setting sha to null. Directories are
        implicit and exist only when files exist under their paths.
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitTreeRequest'
      responses:
        '201':
          description: Tree created.
        '404':
          description: Repository or base tree not found.
        '422':
          description: Validation failed.

  /repos/{owner}/SecondBrain/git/blobs/{blob_sha}:
    get:
      operationId: getSecondBrainGitBlobRaw
      summary: Get raw SecondBrain blob content
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: blob_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github.raw+json
      responses:
        '200':
          description: Raw blob content.
          content:
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        '404':
          description: Blob not found.

  /repos/{owner}/SecondBrain/git/commits:
    post:
      operationId: createSecondBrainGitCommit
      summary: Create a SecondBrain commit for a new tree
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitCommitRequest'
      responses:
        '201':
          description: Commit created.
        '404':
          description: Repository not found.
        '422':
          description: Validation failed.

  /repos/{owner}/SecondBrain/git/refs/heads/{branch}:
    patch:
      operationId: updateSecondBrainBranchRef
      summary: Move SecondBrain branch ref to a new commit
      description: Updates the branch to point to a newly created commit. force must be false.
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGitRefRequest'
      responses:
        '200':
          description: Branch ref updated.
        '404':
          description: Branch not found.
        '409':
          description: Conflict.
        '422':
          description: Validation failed.
