openapi: 3.1.0

info:
  title: GitHub SecondBrain
  version: 2.3.0
  description: >
    GitHub-backed storage action for a private repository named SecondBrain,
    created from the fixed public template repository ACB-prgm/SecondBrainTemplate.
    Uses GitHub's Git Database API for raw text reads, direct tree-content writes,
    atomic commits, managed template sync, and sanitized issue reporting for the fixed template repository. SRC = 'https://github.com/ACB-prgm/SecondBrainTemplate/blob/dev/secondbrain_github_openapi_v2.yaml'

servers:
  - url: https://api.github.com

components:
  securitySchemes:
    githubOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Read and write the authenticated user's repositories. This schema exposes the fixed ACB-prgm/SecondBrainTemplate repo and the authenticated user's SecondBrain repo.
            read:user: Read authenticated user profile information.

  schemas:
    GenerateSecondBrainRepoRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          const: SecondBrain
        owner:
          type: string
          description: Optional target owner or organization. Omit to create under the authenticated user.
        private:
          type: boolean
          const: true
        description:
          type: string
          default: Personal SecondBrain knowledge repository.
        include_all_branches:
          type: boolean
          const: false
      required:
        - name
        - private
        - include_all_branches

    SetRepoTopicsRequest:
      type: object
      additionalProperties: false
      properties:
        names:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
      required:
        - names

    GitPath:
      type: string
      minLength: 1
      maxLength: 500
      pattern: "^(?!/)(?!.*(^|/)\\.\\.(?:/|$))(?!.*(^|/)\\.git(?:/|$)).+$"
      description: Repository-relative path. Must not start with '/', contain '..', or target .git.

    CreateGitTreeRequest:
      type: object
      additionalProperties: false
      properties:
        base_tree:
          type: string
          minLength: 1
        tree:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            properties:
              path:
                $ref: '#/components/schemas/GitPath'
              mode:
                type: string
                enum: ['100644']
              type:
                type: string
                enum: [blob]
              content:
                type: string
                description: Raw UTF-8 file content for create/update operations. Do not use with sha.
              sha:
                type:
                  - string
                  - 'null'
                description: Blob SHA for create/update or null to delete the path. Do not use with content.
            required:
              - path
              - mode
              - type
      required:
        - base_tree
        - tree

    CreateGitCommitRequest:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          minLength: 1
        tree:
          type: string
          minLength: 1
        parents:
          type: array
          minItems: 1
          items:
            type: string
      required:
        - message
        - tree
        - parents

    UpdateGitRefRequest:
      type: object
      additionalProperties: false
      properties:
        sha:
          type: string
          minLength: 1
        force:
          type: boolean
          const: false
      required:
        - sha
        - force

    GitRefResponse:
      type: object
      properties:
        object:
          type: object
          properties:
            sha:
              type: string
            type:
              type: string
          required: [sha]
      required: [object]

    GitCommitResponse:
      type: object
      properties:
        sha:
          type: string
        tree:
          type: object
          properties:
            sha:
              type: string
          required: [sha]
      required:
        - sha
        - tree

    GitTreeResponse:
      type: object
      properties:
        sha:
          type: string
        truncated:
          type: boolean
        tree:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              mode:
                type: string
              type:
                type: string
              sha:
                type: string
              size:
                type: integer
              url:
                type: string
      required: [tree]

    TemplateIssueCreateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 256
        body:
          type: string
          description: Sanitized issue body. Do not include personal identifiers, private records, secrets, or raw user data.
        labels:
          type: array
          maxItems: 10
          items:
            type: string
        assignees:
          type: array
          maxItems: 5
          items:
            type: string
      required:
        - title
        - body

    TemplateIssueUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          maxLength: 256
        body:
          type: string
        state:
          type: string
          enum: [open, closed]
        state_reason:
          type: string
          enum: [completed, not_planned, duplicate, reopened]
        labels:
          type: array
          maxItems: 10
          items:
            type: string

    TemplateIssueCommentRequest:
      type: object
      additionalProperties: false
      properties:
        body:
          type: string
          minLength: 1
          description: Sanitized comment body. Do not include personal identifiers, private records, secrets, or raw user data.
      required:
        - body

security:
  - githubOAuth:
      - repo
      - read:user

paths:
  /user:
    get:
      operationId: getAuthenticatedUser
      summary: Get authenticated GitHub user
      x-openai-isConsequential: false
      responses:
        '200':
          description: Authenticated user profile.

  /repos/ACB-prgm/SecondBrainTemplate/issues:
    get:
      operationId: listTemplateIssues
      summary: List issues in the fixed SecondBrainTemplate repository
      description: Use before creating a template issue to check for likely duplicates.
      x-openai-isConsequential: false
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
            default: open
        - name: labels
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template issue list.
    post:
      operationId: createTemplateIssue
      summary: Create a sanitized issue in the fixed SecondBrainTemplate repository
      description: Use only after the Issue Creation skill prepares a sanitized issue and the user explicitly approves reporting it.
      x-openai-isConsequential: true
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateIssueCreateRequest'
      responses:
        '201':
          description: Template issue created.

  /repos/ACB-prgm/SecondBrainTemplate/issues/{issue_number}:
    get:
      operationId: getTemplateIssue
      summary: Read one issue from the fixed SecondBrainTemplate repository
      x-openai-isConsequential: false
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template issue.
    patch:
      operationId: updateTemplateIssue
      summary: Update an issue in the fixed SecondBrainTemplate repository
      description: Use only after the Issue Creation skill sanitizes the update and the user approves it.
      x-openai-isConsequential: true
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateIssueUpdateRequest'
      responses:
        '200':
          description: Template issue updated.

  /repos/ACB-prgm/SecondBrainTemplate/issues/{issue_number}/comments:
    get:
      operationId: listTemplateIssueComments
      summary: List comments on a fixed SecondBrainTemplate issue
      x-openai-isConsequential: false
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template issue comments.
    post:
      operationId: commentOnTemplateIssue
      summary: Add a sanitized comment to a fixed SecondBrainTemplate issue
      description: Use only after the Issue Creation skill sanitizes the comment and the user approves it.
      x-openai-isConsequential: true
      parameters:
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateIssueCommentRequest'
      responses:
        '201':
          description: Template issue comment created.

  /repos/ACB-prgm/SecondBrainTemplate:
    get:
      operationId: getSecondBrainTemplateRepo
      summary: Get fixed public SecondBrainTemplate repository metadata
      x-openai-isConsequential: false
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template repository metadata.
        '404':
          description: Template repository not found.

  /repos/ACB-prgm/SecondBrainTemplate/generate:
    post:
      operationId: createSecondBrainFromTemplate
      summary: Create private SecondBrain repo from fixed public template
      description: Creates a new private repository named SecondBrain from the default branch of ACB-prgm/SecondBrainTemplate. include_all_branches is forced false by schema.
      x-openai-isConsequential: true
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSecondBrainRepoRequest'
      responses:
        '201':
          description: Repository generated from template.
        '403':
          description: Forbidden or template not accessible.
        '404':
          description: Template not found.
        '422':
          description: Validation failed or target repo already exists.

  /repos/ACB-prgm/SecondBrainTemplate/git/ref/heads/main:
    get:
      operationId: getTemplateMainBranchRef
      summary: Get fixed template main branch ref and HEAD SHA
      x-openai-isConsequential: false
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template main branch ref.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRefResponse'
        '404':
          description: Template main branch not found.

  /repos/ACB-prgm/SecondBrainTemplate/git/commits/{commit_sha}:
    get:
      operationId: getTemplateGitCommit
      summary: Get fixed template commit metadata
      x-openai-isConsequential: false
      parameters:
        - name: commit_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template commit metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCommitResponse'
        '404':
          description: Commit not found.

  /repos/ACB-prgm/SecondBrainTemplate/git/trees/{tree_sha}:
    get:
      operationId: getTemplateGitTree
      summary: Get fixed template tree metadata
      description: Use recursive=1 to list all template files and blob SHAs.
      x-openai-isConsequential: false
      parameters:
        - name: tree_sha
          in: path
          required: true
          schema:
            type: string
        - name: recursive
          in: query
          required: false
          schema:
            type: string
            enum: ['1', 'true']
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Template tree metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTreeResponse'
        '404':
          description: Tree not found.

  /repos/ACB-prgm/SecondBrainTemplate/git/blobs/{blob_sha}:
    get:
      operationId: getTemplateGitBlobRaw
      summary: Get raw fixed-template blob content
      x-openai-isConsequential: false
      parameters:
        - name: blob_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github.raw+json
      responses:
        '200':
          description: Raw blob content.
          content:
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        '404':
          description: Blob not found.

  /repos/{owner}/SecondBrain:
    get:
      operationId: getSecondBrainRepo
      summary: Check whether SecondBrain exists and fetch repo metadata
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Repository metadata.
        '404':
          description: Repository not found.

  /repos/{owner}/SecondBrain/topics:
    get:
      operationId: getSecondBrainRepoTopics
      summary: Get SecondBrain repository topics
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Repository topics.
    put:
      operationId: setSecondBrainRepoTopics
      summary: Set SecondBrain repository topics
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRepoTopicsRequest'
      responses:
        '200':
          description: Topics updated.

  /repos/{owner}/SecondBrain/branches:
    get:
      operationId: listSecondBrainBranches
      summary: List SecondBrain branches
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Branch list.

  /repos/{owner}/SecondBrain/tags:
    get:
      operationId: listSecondBrainTags
      summary: List SecondBrain tags
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Tag list.

  /repos/{owner}/SecondBrain/commits:
    get:
      operationId: listSecondBrainCommits
      summary: List SecondBrain commits
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Commit list.

  /repos/{owner}/SecondBrain/git/ref/heads/{branch}:
    get:
      operationId: getSecondBrainBranchRef
      summary: Get SecondBrain branch ref
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Branch ref.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRefResponse'
        '404':
          description: Branch not found.
        '409':
          description: Conflict.

  /repos/{owner}/SecondBrain/git/commits/{commit_sha}:
    get:
      operationId: getSecondBrainGitCommit
      summary: Get SecondBrain commit metadata, including tree SHA
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: commit_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Git commit metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCommitResponse'
        '404':
          description: Commit not found.

  /repos/{owner}/SecondBrain/git/trees/{tree_sha}:
    get:
      operationId: getSecondBrainGitTree
      summary: Get SecondBrain tree metadata
      description: Use recursive=1 to list all repo files and blob SHAs.
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: tree_sha
          in: path
          required: true
          schema:
            type: string
        - name: recursive
          in: query
          required: false
          schema:
            type: string
            enum: ['1', 'true']
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      responses:
        '200':
          description: Git tree metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTreeResponse'
        '404':
          description: Tree not found.

  /repos/{owner}/SecondBrain/git/trees:
    post:
      operationId: createSecondBrainGitTree
      summary: Create a new SecondBrain tree for file creation, update, or deletion
      description: Add/update text files by supplying direct content. Delete files by setting sha to null.
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitTreeRequest'
      responses:
        '201':
          description: Tree created.
        '404':
          description: Repository or base tree not found.
        '422':
          description: Validation failed.

  /repos/{owner}/SecondBrain/git/blobs/{blob_sha}:
    get:
      operationId: getSecondBrainGitBlobRaw
      summary: Get raw SecondBrain blob content
      x-openai-isConsequential: false
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: blob_sha
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github.raw+json
      responses:
        '200':
          description: Raw blob content.
          content:
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        '404':
          description: Blob not found.

  /repos/{owner}/SecondBrain/git/commits:
    post:
      operationId: createSecondBrainGitCommit
      summary: Create a SecondBrain commit for a new tree
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitCommitRequest'
      responses:
        '201':
          description: Commit created.
        '404':
          description: Repository not found.
        '422':
          description: Validation failed.

  /repos/{owner}/SecondBrain/git/refs/heads/{branch}:
    patch:
      operationId: updateSecondBrainBranchRef
      summary: Move SecondBrain branch ref to a new commit
      x-openai-isConsequential: true
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            const: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGitRefRequest'
      responses:
        '200':
          description: Branch ref updated.
        '404':
          description: Branch not found.
        '409':
          description: Conflict.
        '422':
          description: Validation failed.
